*.gz 
*.txt 
*.pdf 
*.so 
*.o 
*.d 
*.root 
*~ 

# The submission and configurations 
farm/submission_files/*
farm/configurations/* 

# Major files in the required folders directory. 
# These can be grabbed with the download_required_files.py script.
mysidis/requiredFiles/ 
mysidis/requiredFiles/binCategories/*
mysidis/requiredFiles/hadrad/term0/*
mysidis/requiredFiles/hadrad/hapradResults/hap00/*
mysidis/requiredFiles/hadrad/hapradResults/hapDefault/*
mysidis/requiredFiles/hadrad/hapradResults/NickPipModel/*
mysidis/requiredFiles/hadrad/hapradResults/NickPimModel/*
mysidis/requiredFiles/parameters/momentumCorrections/*
mysidis/requiredFiles/parameters/pip/*
mysidis/requiredFiles/parameters/pim/*

# Some big results 
mysidis/shortScripts/phi_h/refactor/*.dat